    {{>header}}
    <p>Created by Zekaryas Yohannes.It uses data from mapbox.com to display the weather information.</p>
    <p>Thank you for using this app.</p>
    {{!-- <h1>{{ title }}</h1> --}}
    {{>footer}}
