    {{>header}}
    {{!-- <h1>{{ title }}</h1> --}}

    <form action="">
        <input type="text" placeholder="Location">
        <button type="submit">Submit</button><br>

        <p id="location"></p>
        <p id="description"></p>
    </form>
    {{>footer}}